:root {
  --primary-text-color: #757575;
  --second-text-coor: #212121;
  --accent-hover-color: #2196f3;
  --primery-white-color: #ffffff;
}

body {
  background-color: #e5e5e5;
}

.header {
  background-color: var(--primery-white-color);
}

.logo {
  color: var(--accent-hover-color);
}

.second-logo {
  color: #000000;
}
/* прибирає крапки з лівого боку */

ul {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--second-text-coor);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-hover-color);
}

.site-nav .link.current {
  color: var(--accent-hover-color);
}

/* contacts */

.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-hover-color);
}

/* hero */

.hero-title {
  color: var(--primery-white-color);
}

/* button */

.button {
  color: var(--primery-white-color);
  background-color: var(--accent-hover-color);
}
/* section */

.section {
  background-color: #e5e5e5;
}

.section-title {
  color: var(--second-text-coor);
}

/* description */
.description {
  color: var(--primary-text-color);
}
.description .title {
  color: var(--second-text-coor);
}

/* team */

.team {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.team .title {
  color: var(--second-text-coor);
}

/* footer */

.address .link-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address .link {
  color: var(--primery-white-color);
}

/* основний колір тексту #757575 */
/* другорядний колір тексту #212121 */

/* ховер/акцент колір #2196F3 */

/* білий #FFFFFF */

/* текст футера rgba(255, 255, 255, 0.6); */

/* колір фону #E5E5E5 */
/* вторинний колір фону #F5F4FA */

/* сторінка портфоліо */

/*кнопки портфолио*/
.portfolio-button {
  color: var(--second-text-coor);
  background-color: #f5f4fa;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #2196f3;
}

/* меню */

.services {
  color: var(--primary-text-color);
  background-color: #eeeeee;
}
.services-title {
  color: var(--second-text-coor);
}
